<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.lonkar.alfred-workflows.bitbucket</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1EA3752E-F120-4B7E-B45E-D320653D3F34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C66432FF-9815-4224-8009-B0DC0E85BF29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>248A1D4B-562E-4367-AC3C-48559559BF8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>966A9E50-3421-43E4-B1B3-6A87E4615DA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45029B39-0124-44D7-8A0D-532D5829331A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0AEE5B4-7CF7-4820-A225-8163372E1E03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D919700-5B93-4C70-964F-876CD03F7B22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>248A1D4B-562E-4367-AC3C-48559559BF8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>966A9E50-3421-43E4-B1B3-6A87E4615DA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FB7C5EF-A111-4223-8C9D-49A49837DFD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yogesh &lt;yogesh@lonkar.org&gt;</string>
	<key>description</key>
	<string>Open BitBucket repositories</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BitBucket</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bb</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Open {query}</string>
				<key>text</key>
				<string>Bitbucket</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1EA3752E-F120-4B7E-B45E-D320653D3F34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:bitbucket_url}/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C66432FF-9815-4224-8009-B0DC0E85BF29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D0AEE5B4-7CF7-4820-A225-8163372E1E03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>3</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string> please wait...</string>
				<key>script</key>
				<string>set -e
exec_path=$(./get_exec_path)
${exec_path} --keyword bitbucket</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Use `bb update` to sync</string>
				<key>title</key>
				<string>Cached repositories</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>45029B39-0124-44D7-8A0D-532D5829331A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:msg2}</string>
				<key>title</key>
				<string>{var:msg1}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4FB7C5EF-A111-4223-8C9D-49A49837DFD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -e
exec_path=$(./get_exec_path)
${exec_path} --keyword bitbucket --sync</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>248A1D4B-562E-4367-AC3C-48559559BF8C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Update keyword","arg":"update-suggestions\/bitbucket","subtitle":" Fetch suggestions from {var: bitbucket_workspaces}"}]</string>
				<key>keyword</key>
				<string>bb</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>{var:bitbucket_url}</string>
				<key>title</key>
				<string>Update</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>7D919700-5B93-4C70-964F-876CD03F7B22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>$$</string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>msg</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>966A9E50-3421-43E4-B1B3-6A87E4615DA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>[documentation](https://support.atlassian.com/bitbucket-cloud/docs/app-passwords)</string>
	<key>uidata</key>
	<dict>
		<key>1EA3752E-F120-4B7E-B45E-D320653D3F34</key>
		<dict>
			<key>note</key>
			<string>Argument to bb keyword can xivart repositories or other context after it</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>248A1D4B-562E-4367-AC3C-48559559BF8C</key>
		<dict>
			<key>note</key>
			<string>Update keyword suggestions</string>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>45029B39-0124-44D7-8A0D-532D5829331A</key>
		<dict>
			<key>note</key>
			<string>Provides Bitbucket repositories from xivart workspace as a suggestion to bb keyword</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>4FB7C5EF-A111-4223-8C9D-49A49837DFD1</key>
		<dict>
			<key>note</key>
			<string>Notify user</string>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>7D919700-5B93-4C70-964F-876CD03F7B22</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>966A9E50-3421-43E4-B1B3-6A87E4615DA2</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>C66432FF-9815-4224-8009-B0DC0E85BF29</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>In default browser</string>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>D0AEE5B4-7CF7-4820-A225-8163372E1E03</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>In default browser</string>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://bitbucket.org</string>
				<key>placeholder</key>
				<string>https://bitbucket.your-domain</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Used to suggest and open repositories</string>
			<key>label</key>
			<string>Used URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bitbucket_url</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Workspaces(s)</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Bitbucket workspace(s) name in comma separated format, example personal, workspace1,company2</string>
			<key>label</key>
			<string>Bitbucket workspaces</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bitbucket_workspaces</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>username</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Atlassian user account used to fetch repository names for alfred suggestions. Check official documentation</string>
			<key>label</key>
			<string>Atlassian user</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bitbucket_username</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>some-secret-value</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Bitbucket user account token used to fetch repository names for alfred suggestions. Check official documentation</string>
			<key>label</key>
			<string>Atlassian token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bitbucket_app_password</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>/usr/local/bin/alfred-suggestions</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set this if alfred-suggestions not avaible in PATH or to override default version</string>
			<key>label</key>
			<string>Path to alfred-suggestions</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>suggestions_bin</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
